#root {
  background-image: url("/assets/background-img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#search-icon {
  border: 0;
  background-color: transparent;
  transition: all 0.3s;
}

#main-container {
  min-height: 80vh;
}

#logo {
  width: 180px;
}

#search-icon:hover {
  color: rgba(0, 0, 0, 0.5);
}

.form-card-header {
  background-color: rgb(0, 99, 219);
  color: white;
}

.form-card {
  width: 40%;
  min-width: 350px;
  margin: 0 auto;
}

#footer {
  height: 58.9375px;
  background-color: rgb(248, 249, 250);
}

#search-button {
  margin: 0 auto;
  align-self: center;
}

#weather-container {
  color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  width: 80%;
}

.card-img-top {
  max-width: 70%;
  margin: 0 auto;
}
