#search-icon {
  border: 0;
  background-color: transparent;
  transition: all 0.3s;
}

#search-icon:hover {
  color: rgba(0, 0, 0, 0.5);
}

#logo {
  width: 180px;
}
#footer {
  height: 58.9375px;
  background-color: rgb(248, 249, 250);
}
